<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CW</title>
</head>

<body>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="/signIn">
                    <div class="btn btn-primary m-1">Sign In</div>
                </a>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <a href="/signUp">
                    <div class="btn btn-primary">Sign Up</div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>