<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-2">
                <form class="signUpForm">
                    <div class="form-group">
                        <label for="firstNameInput">First Name</label>
                        <input type="name" class="form-control" id="firstNameInput" aria-describedby="emailHelp"
                            placeholder="John">
                    </div>

                    <div class="form-group">
                        <label for="lastNameInpt">Last Name</label>
                        <input type="name" class="form-control" id="lastNameInput" aria-describedby="emailHelp"
                            placeholder="Doe">
                    </div>

                    <div class="form-group">
                        <label for="emailInput">Email address</label>
                        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                            placeholder="JohnDoe@example.com">
                    </div>

                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input type="password" class="form-control" id="passwordInput" placeholder="*********">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>